@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-sky-900 text-white;
    }

    box-icon {
        @apply fill-current;
    }

    #app {
        @apply min-h-[100vh]
    }
}

:root {
    --color-1: #1693a5;
    --color-10: #1693a5;
    --color-20: #7ececa;
    --color-30: #a0ded6;
    --color-40: #c7ede8;
}
